<!--Root Navbar (looking to find a better cloud picture at some point)-->
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img
        src="https://lh3.googleusercontent.com/proxy/dNDd1YmWGyLE0aEPkF8WrHw3J8_bRx7V39c_f0D1heq4r8t5evcpo_QQOiou9oai6Imt34ENwcr6ImP38IWK1ihLCj8iF5DWmAooKBoD8k8fCzSJCGAbxmVKJSNMYM_MHDtULi6aRPDMWajUSOY"
        class="me-2"
        height="40"
        alt=""
        loading="lazy"
      />
     BetterWeather
    </a>
  </div>
</nav>

<!--router outlet for weather and search component -->
<router-outlet></router-outlet>
