<!--Root Navbar (looking to find a better cloud picture at some point)-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://cdn.imgbin.com/10/13/21/imgbin-rain-cloud-drawing-rain-0jLJzfyU9nfnfFKVJFCPf5Vbf.jpg"
        class="me-2"
        height="20"
        alt=""
        loading="lazy"
      />
      <small>BetterWeather</small>
    </a>
  </div>
</nav>

<!--router outlet for weather and search component -->
<router-outlet></router-outlet>
