<div class="container">
    <!-- Jumbotron -->
    <div class="p-5 text-center">
      <h1 class="mb-3">Welcome to BetterWeather!</h1>
      <p>BetterWeather is a small project written using Angular and Typescript to display my understanding in working with APIs and displaying data. 
        It is a work in progress as I continue to gain knowledge as a web developer.
      </p>
    </div>
    <!-- Jumbotron -->
    <h5 class="mb-3 text-center">Enter your 5 digit zip code below:</h5>
    <p class="text-center error-message">{{errorMessage}}</p>

    <div id="zipSearch" class="input-group mx-auto">
      
      <input
        type="text"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        [(ngModel)]='zipcode'
        (input)="zipChange()"
      />
      <button *ngIf="validSearch" type="button" class="btn btn-outline-primary">
        <a [routerLink]="['/forecast', zipcode]">Search</a>
      </button>
      <button *ngIf="!validSearch" type="button" class="btn btn-outline-primary">
        <a (click)="errorSearch()">Search</a>
      </button>
    </div>
  </div>